[submodule "gruvbox"]
	path = plugged/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "nerdtree"]
	path = plugged/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "YouCompleteMe"]
	path = plugged/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "norminette-vim"]
	path = plugged/norminette-vim
	url = https://github.com/alexandregv/norminette-vim.git
[submodule "syntastic"]
	path = plugged/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim-markdown-toc"]
	path = plugged/vim-markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc.git
